.side_bar
  .side_header
    .side-box
      %p.side-box-user-name
        = current_user.name
        %ul.side-box-menu
          %li.side-box-menu-newgroup
            = link_to new_group_path do
              =icon('fa','edit')
          %li.side-box-menu-edituser
            = link_to edit_user_path(current_user) do
              = icon('fas' , 'cog')
  .groups 
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .groups__name
            = group.name
          .groups__message
            まだメッセージがありません
    


